In [3]:
import pandas as pd
import numpy as np

# Estructura de datos
# Series: Un conjunto de elementos en los cuales vamos a almacenar cualquier conjunto de datos
#   Tambien tiene una secuencia ordenada (0,1,2,3,4,5...)
# Dataframe: Conjunto de series, Estructura bidimensional con columnas que pueden ser tambien de cualquier tipo

In [ ]:
# Serie
naranjas  = pd.Series([4,2,9,6,10,200])

In [7]:
print(naranjas)

0      4
1      2
2      9
3      6
4     10
5    200
dtype: int64

In [9]:
colores = pd.Series(['rojo','azul','verde','amarillo'])
print(colores)

0        rojo
1        azul
2       verde
3    amarillo
dtype: object

In [36]:
materias = pd.Series({
    'Matimaticas': 60,
    'Física': 120,
    'Lenguaje': 69
})

In [10]:
#propiedades de una serie
# .size: Devuelve el número de elementos de la serie
# .index: Devuelve una lista con los nombres de las filas del df
# .dtype: Devuelve el tipo de datos de los elementos de la serie
numeros = pd.Series([1,2,3,4,5,6,7,8,9])

In [ ]:
numeros.size
numeros.index
# numeros.dtypes

dtype('int64')

In [20]:
colores[1:4]

1        azul
2       verde
3    amarillo
dtype: object

In [ ]:
# Series fundamentales
numeros.sum()

SyntaxError: invalid syntax (113910264.py, line 2)

In [29]:
numeros.min()

np.int64(1)

In [35]:
# numeros.std()
numeros.describe()

count    9.000000
mean     5.000000
std      2.738613
min      1.000000
25%      3.000000
50%      5.000000
75%      7.000000
max      9.000000
dtype: float64

In [40]:
# filtrar materias
print(materias[materias > 90])
print(materias.sort_values())
print(materias.sort_index())
print(materias)

Física    120
dtype: int64
Matimaticas     60
Lenguaje        69
Física         120
dtype: int64
Física         120
Lenguaje        69
Matimaticas     60
dtype: int64
Matimaticas     60
Física         120
Lenguaje        69
dtype: int64

In [41]:
data = 5

In [42]:
ciervo = pd.Series(data, index=[0,1,2,3,4,5])

In [44]:
ciervo

0    5
1    5
2    5
3    5
4    5
5    5
dtype: int64

In [45]:
data_list = ['Messi', 'Cristinao','Benzema']

In [46]:
indices = ['PSG','Manchester United','Real Madrid']

In [49]:
futbol = pd.Series(index = indices, data=data_list)
futbol

PSG                      Messi
Manchester United    Cristinao
Real Madrid            Benzema
dtype: object

# Dataframes

In [ ]:
# Un dataframe es un conjunto de series
# data = diccionario
# index = filas
# columns = columnas

In [1]:
# dataframe a partir de un diccionario
data = {
    'nombre': ['matias', 'coni','javier','cata'],
    'carrera': ['Informática','Odontología','Ingeniería','Literatura'],
    'email': ['matias@gmail.com','coni.K@hotmail.com','javier@gmail.com','cata@gmail.com']
}

In [4]:
estudiantes_df = pd.DataFrame(data)

In [5]:
estudiantes_df

   nombre      carrera               email
0  matias  Informática    matias@gmail.com
1    coni  Odontología  coni.K@hotmail.com
2  javier   Ingeniería    javier@gmail.com
3    cata   Literatura      cata@gmail.com

In [7]:
df = pd.DataFrame([['matias', 23], ['coni', 23], ['javier', 24], ['cata', 25]], columns=['Nombre', 'Edad'])
df

   Nombre  Edad
0  matias    23
1    coni    23
2  javier    24
3    cata    25

In [8]:
df = pd.DataFrame(np.random.rand(4,3),columns=['A','B','C'])
df

          A         B         C
0  0.507856  0.858174  0.896944
1  0.540619  0.975526  0.097680
2  0.230818  0.255702  0.372574
3  0.136461  0.682015  0.352558

In [9]:
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.8.2-py3-none-any.whl.metadata (16 kB)
Collecting black>=24.10.0 (from kaggle)
  Downloading black-25.12.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (86 kB)
Requirement already satisfied: bleach in /home/codespace/.local/lib/python3.12/site-packages (from kaggle) (6.2.0)
Collecting kagglesdk (from kaggle)
  Downloading kagglesdk-0.1.13-py3-none-any.whl.metadata (13 kB)
Collecting mypy>=1.15.0 (from kaggle)
  Downloading mypy-1.19.1-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (2.2 kB)
Collecting protobuf (from kaggle)
  Downloading protobuf-6.33.2-cp39-abi3-manylinux2014_x86_64.whl.metadata (593 bytes)
Requirement already satisfied: python-dateutil in /home/codespace/.local/lib/python3.12/site-packages (from kaggle) (2.9.0.post0)
Collecting python-slugify (from kaggle)
  Downloading python_slugify-8.0.4-py2.py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: requests in /home/codespace/.local/lib/python3.12/site-packages (from kaggle) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in /home/codespace/.local/lib/python3.12/site-packages (from kaggle) (80.3.1)
Requirement already satisfied: six>=1.10 in /home/codespace/.local/lib/python3.12/site-packages (from kaggle) (1.17.0)
Requirement already satisfied: tqdm in /usr/local/python/3.12.1/lib/python3.12/site-packages (from kaggle) (4.66.4)
Collecting types-requests (from kaggle)
  Downloading types_requests-2.32.4.20250913-py3-none-any.whl.metadata (2.0 kB)
Collecting types-tqdm (from kaggle)
  Downloading types_tqdm-4.67.0.20250809-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: urllib3>=1.15.1 in /home/codespace/.local/lib/python3.12/site-packages (from kaggle) (2.4.0)
Collecting click>=8.0.0 (from black>=24.10.0->kaggle)
  Downloading click-8.3.1-py3-none-any.whl.metadata (2.6 kB)
Collecting mypy-extensions>=0.4.3 (from black>=24.10.0->kaggle)
  Downloading mypy_extensions-1.1.0-py3-none-any.whl.metadata (1.1 kB)
Requirement already satisfied: packaging>=22.0 in /home/codespace/.local/lib/python3.12/site-packages (from black>=24.10.0->kaggle) (25.0)
Collecting pathspec>=0.9.0 (from black>=24.10.0->kaggle)
  Downloading pathspec-0.12.1-py3-none-any.whl.metadata (21 kB)
Requirement already satisfied: platformdirs>=2 in /home/codespace/.local/lib/python3.12/site-packages (from black>=24.10.0->kaggle) (4.3.7)
Collecting pytokens>=0.3.0 (from black>=24.10.0->kaggle)
  Downloading pytokens-0.3.0-py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: typing_extensions>=4.6.0 in /home/codespace/.local/lib/python3.12/site-packages (from mypy>=1.15.0->kaggle) (4.13.2)
Collecting librt>=0.6.2 (from mypy>=1.15.0->kaggle)
  Downloading librt-0.7.4-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (1.3 kB)
Requirement already satisfied: webencodings in /home/codespace/.local/lib/python3.12/site-packages (from bleach->kaggle) (0.5.1)
Collecting text-unidecode>=1.3 (from python-slugify->kaggle)
  Downloading text_unidecode-1.3-py2.py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/codespace/.local/lib/python3.12/site-packages (from requests->kaggle) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.12/site-packages (from requests->kaggle) (3.10)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.12/site-packages (from requests->kaggle) (2025.4.26)
Downloading kaggle-1.8.2-py3-none-any.whl (256 kB)
Downloading black-25.12.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 41.9 MB/s eta 0:00:00
Downloading click-8.3.1-py3-none-any.whl (108 kB)
Downloading mypy-1.19.1-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (13.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.6/13.6 MB 58.0 MB/s eta 0:00:00:00:01
Downloading librt-0.7.4-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (189 kB)
Downloading mypy_extensions-1.1.0-py3-none-any.whl (5.0 kB)
Downloading pathspec-0.12.1-py3-none-any.whl (31 kB)
Downloading pytokens-0.3.0-py3-none-any.whl (12 kB)
Downloading kagglesdk-0.1.13-py3-none-any.whl (159 kB)
Downloading protobuf-6.33.2-cp39-abi3-manylinux2014_x86_64.whl (323 kB)
Downloading python_slugify-8.0.4-py2.py3-none-any.whl (10 kB)
Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Downloading types_requests-2.32.4.20250913-py3-none-any.whl (20 kB)
Downloading types_tqdm-4.67.0.20250809-py3-none-any.whl (24 kB)
Installing collected packages: text-unidecode, types-requests, pytokens, python-slugify, protobuf, pathspec, mypy-extensions, librt, click, types-tqdm, mypy, kagglesdk, black, kaggle
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14/14 [kaggle]13/14 [kaggle]dk]]
Successfully installed black-25.12.0 click-8.3.1 kaggle-1.8.2 kagglesdk-0.1.13 librt-0.7.4 mypy-1.19.1 mypy-extensions-1.1.0 pathspec-0.12.1 protobuf-6.33.2 python-slugify-8.0.4 pytokens-0.3.0 text-unidecode-1.3 types-requests-2.32.4.20250913 types-tqdm-4.67.0.20250809

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python3 -m pip install --upgrade pip